.navbar-container {
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    
}

.navbar-links-container {
    display: flex;
    gap: 30px;
}

.navbar-element {
    font-size: 20px;
}

.navbar-element:hover {
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}