/* Grid Elements */
#grid-header {
    grid-area: header;
}

#grid-sidebar {
    grid-area: sidebar;
}

#grid-main {
    grid-area: main;
}


.grid-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main";
    background-color: thistle;
    height: 933px;
}
/* Grid Elements */

/* Sidebar Gun List */
.bubble-gun-list {
    list-style: none;
    padding-left: 5px;
    font-size: 40px;
    margin-top: 10px;
}

.bubble-gun-list:hover {
    cursor: pointer;
}

#bubble-gun-pistol:hover {
    color: blue;
}


#bubble-gun-shotgun:hover {
    color: red;
}

#bubble-gun-launcher:hover {
    color: yellow;
}

option {
    margin-top: 20px;
}

option:first-child {
    margin-top: 0px;
}
/* Sidebar Gun List */

.bubble-gun-image {
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.bubble-gun-image:first-child {
    margin-right: 10px;
}

/*#green-bubble-gun {
    
}

#blue-bubble-gun {

} */
